body {
    font-family: Arial, sans-serif;
    background-color: #e3f0e9;
    color: #5a5a5a;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
    background: #fff;padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

.header {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: auto;
  }

  .left, .right {
    width: 50%;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #363951;
  }

  .title {
    font-size: 2.8em;
    font-weight: bold;
    margin-bottom: 5px;
  }

.subtitle {
    font-size: 2em;
    color: #70a98d;
    margin-bottom: 10px;
}

.description {
    font-size: 1.1em;
    color: #5a5a5a;
    margin-bottom: 10px;
    line-height: 1.6;
}

.role {
    font-weight: bold;
    font-size: 1.1em;
}

.quote {
    font-style: italic;
    margin: 50px ;
    color: #70a98d;
}
    
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 800px;
    justify-content: center;
    margin: 5rem;
  }

  .card {
    flex: 1 1 300px;
    background-color: #70a98d;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
  }

  .card h3 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #363951;
    font-size: 20px;
    text-transform: uppercase;
  }

  .card ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .card li {
    margin-bottom: 10px;

  }

    .footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;
      color: #5a5a5a;
    }

    .footer .section {
      flex: 1 1 45%;
      text-align: center;
      color: #5a5a5a;
    }

    .footer h4 {
      color: #70a98d;
      text-align: center;
    }

    a.back-link {
      display: inline-block;
      margin-top: 30px;
      text-decoration: none;
      color: #fff;
      background-color: #70a98d;
      padding: 10px 20px;
      border-radius: 10px;
    }